# data analysis using pandas library

In [11]:
#opening the dataset to see the first 10 rows

import pandas as pd

dataFile=pd.read_csv('data_records.csv')

dataFile.head(100)

,Learner gender,Teachers Gender,Teachers Age,Community Outreach,Next of kin has a degree,Know Career path,has access to internet at home,learning material preferred,type of school,Enrolled
0,Male,Male,44,NO,NO,YES,NO,Google search,Model A,NO
1,Female,Female,43,YES,NO,YES,NO,YouTube,Model C,YES
2,Female,Female,56,YES,YES,YES,NO,Google search,Model A,YES
3,Male,Male,52,NO,NO,YES,NO,Google search,Model A,YES
4,Female,Female,59,YES,NO,YES,YES,Teachers explanation,Model A,YES
...,...,...,...,...,...,...,...,...,...,...
95,Female,Female,57,YES,YES,NO,YES,Google search,Model A,YES
96,Female,Female,59,YES,NO,YES,NO,Books,Model B,YES
97,Female,Female,64,YES,YES,YES,YES,peer to peer,Model B,YES
98,Male,Female,28,NO,YES,NO,YES,Books,Model B,YES
99,Female,Female,27,NO,NO,YES,NO,Teachers explanation,Model A,NO

In [8]:
#finding a small infomation about dataset

dataFile.describe()

       Teachers Age
count   1000.000000
mean      44.680000
std       12.216171
min       24.000000
25%       34.000000
50%       45.000000
75%       55.000000
max       65.000000

In [13]:
#finding the average Age for teachers in Stem subjects  

dataFile["Teachers Age"].mean()

44.68